<ion-view title="Home" id="page2">
  <ion-content padding="true" class="has-header">
    <h2 id="home-heading1" style="color:#000000;">Premium Esthétique</h2>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="home-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="home-slide24" style="background:url(&quot;img/aCqaCquTQqPAUP0YcKZM_slide1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="home-slide25" style="background:url(&quot;img/zAs2gaGKSkyc5fouZ2LE_slide2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="home-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <div id="home-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">une large sélection de cosmétiques professionnels de dernière génération, Cap actuel propose une gamme complète de soins à usages médicaux et esthétiques.</p>
    </div>
    <h3 id="home-heading3" style="color:#000000;text-align:center;">Dernière news</h3>
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <ion-list id="home-list3">
      <ion-item class="item-thumbnail-left dark" id="home-list-item14">
        <img src="img/33w15yS8Kvae4z3mc1Aw_telechargement.jpeg">
        <h2dark>La comestique cellulaire
          <p>Non invasive</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-thumbnail-left dark" id="home-list-item15">
        <img src="img/33w15yS8Kvae4z3mc1Aw_telechargement.jpeg">
        <h2dark>La comestique cellulaire
          <p>Non invasive</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <h3 id="home-heading2" style="color:#000000;text-align:center;">Menu</h3>
    <button id="home-button7" class="button button-positive button-block">A propos de nous</button>
    <button id="home-button9" class="button button-positive button-block">Questions / Réponses</button>
    <button id="home-button8" class="button button-positive button-block">Nos services et nos produits</button>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <h4 id="home-heading4" style="color:#000000;text-align:center;">Les technologies</h4>
    <div id="home-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Une sélection de matériels à la pointe de la modernité.</p>
    </div>
    <div class="list card" id="home-card22">
      <div class=" item item-image">
        <img src="img/CuQFiAlwRWKug8uWd6Pe_est.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left assertive" id="home-list-item25">
        <i class="icon ion-ribbon-b"></i>ESTHETIQUE</ion-item>
    </div>
    <div>
      <img src="img/sY1ZZKaRRuGbHIxitDgT_med.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="home-list7">
      <ion-item class="item-icon-left assertive" id="home-list-item26">
        <i class="icon ion-ios-medkit-outline"></i>MEDICAL</ion-item>
    </ion-list>
  </ion-content>
</ion-view>